body {
    font-family: sans-serif;
    font-size:20px;
    background-image: linear-gradient(#929292, #2c2c2c);
}

header{
    height: 600px;
    width: 100%;
    background-image:linear-gradient(#936996,purple,#936996);
}
nav{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}
nav a{
    text-decoration: none;
    color: black;
}

nav a:hover {
    color:#924163;
}

header h1{
    font-family: "Ribeye Marrow", serif;
    text-align: center;
    padding: 70px;
    font-size:96px;

}
span{
    font-family: "Ribeye Marrow", serif;

}
article{
    width: 330px;
    padding:7px;
}

p{
    text-align: justify;
}

section{
    display:flex;
    justify-content: space-evenly;
}

footer {
    background-image:linear-gradient(#75558B,purple);
    padding: 15px;
}

.catalog1 {
    text-align: center;
    background-color:#3F3A48;
    color:black;
    padding:10px;
}

.cina {
    background-image:linear-gradient(#28536C, #936996);
    padding:10px;
    position: relative;
    bottom:0px;
}

article img{
    width: 280px;
    height: 300px;
}
article{
    width: 280px;
}
