body {
    font-family: 'Open Sans', sans-serif;
    font-size:20px;
}

nav{
    width: 400px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin:  auto ;
}

nav a{
    text-decoration: none;
    color:white;
}

nav a:hover{
    transition: 0.3s linear;
    text-decoration:underline;
    color:rgb(0, 0, 0);
}

h1{
    text-align: center;
    font-family: "Qwigley", cursive;
    margin:  auto ;
    padding: 30px;
    font-size:60px;
    color:white;
    letter-spacing: 0.1em;
}

header{
     background-color: #B8860B;
    border-radius: 200px;
    width: 100%;
    height: 250px;
    padding-top: 200px;
    align-items: center;
}

.hotel img{
    border:20px solid #B8860B;
    border-radius:30px;
}

section{
    margin: 30px;
    display: flex;
    justify-content: space-evenly;
}

article{
    width: 470px;
}

.rebra{
    width: 450px;
}

p{
    text-align: justify;
}

h2{
    text-align: center;
}

img{
    width: 300px;
}

.hotel{
    width: 200px;
}

h2 .menu{
    text-decoration: none;
    color:#B8860B;
    font-size: 50px;
    text-align: center;
    margin: 50px;
}

h2 .menu:hover{
    text-decoration: underline;
}

.map{
    display: flex;
    justify-content: center;
}

footer{
    background-color: #B8860B;
    width: 100%;
    height: 200px;
    padding-top: 25px;
    padding-left: 50px;
}

footer a{
    text-decoration: none;
    color:black;
}

footer a:hover{
    text-decoration: underline;
}
